server:
  port: 8761

spring:
  application:
    name: discovery-server

# Eureka server settings

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info
